@model List<DOMAIN.Models.ProductoDomain>

@{
	ViewData["Title"] = "Lista de Marcas";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
	@if (TempData["mensaje"] != null)
	{
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			@TempData["mensaje"]
			<button type="button" class="close" data-dismiss="alert" arial-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	}
	<div class="row">
		<div class="col-sm-6">
			<h3>Lista de Marcas</h3>
		</div>

	</div>

	<div class="row">
		@if (Model.Count() > 0)
		{
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<td>Producto</td>
						<td>Marca</td>
						<td>Categoria</td>
						<td>Precio</td>
						<td>Stock</td>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>@item.idProducto</td>
							<td>@item.MarcaNombre</td>
							<td>@item.CategoriaNombre</td>
							<td>@item.precio</td>
							<td>@item.stock</td>
						</tr>
					}
				</tbody>
			</table>
		}
		else
		{
			<p>No hay registros</p>
		}
	</div>
</div>



